<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ohhonghong.bangto"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="21" />

	<!-- 네트워크 접속 권한 -->
	<uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/BANgTO_icon"
        android:label="@string/app_name" 
        android:theme="@style/CustomActionBarTheme" >
        
        
        
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="GroupMenuActivity"></activity>
        <activity android:name="BankActivity"></activity>
        <activity android:name="PersonalInfoActivity"></activity>
        <activity android:name="TabMainActivity"></activity>
        <activity android:name="MoneyActivity"></activity>
        <activity android:name="MemberActivity"></activity>
        <activity android:name="LoadingActivity"></activity>
        <activity android:name="MemoActivity"></activity>
        <activity android:name="NotificationBuilder"></activity>
        <activity android:name="NotificationMessage"></activity>     
        
    </application>

</manifest>