<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ohhonghong.bangto"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="21" />

      <!-- GCM 관련 퍼미션 -->
	<permission android:name="com.example.gcmsample.permission.C2D_MESSAGE" android:protectionLevel="signature" />
	<uses-permission android:name="com.example.gcmsample.permission.C2D_MESSAGE" />
	<!-- GCM 받기 -->
	<uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
	<!-- GCM을 받으려면 구글 계정 필요 -->
	<uses-permission android:name="android.permission.GET_ACCOUNTS" />
	<!-- 메시지 받을 때 wake up 하기 위해 -->
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<!-- 네트워크 접속 권한 -->
	<uses-permission android:name="android.permission.INTERNET" />
    

    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" 
        android:theme="@style/CustomActionBarTheme" >
        
        
        
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="GroupMenuActivity"></activity>
        <activity android:name="BankActivity"></activity>
        <activity android:name="PersonalInfoActivity"></activity>
        <activity android:name="TabMainActivity"></activity>
        <activity android:name="MoneyActivity"></activity>
        <activity android:name="MemberActivity"></activity>
        <activity android:name="LoadingActivity"></activity>
        <activity android:name="MemoActivity"></activity>
               
         <activity
            android:name=".GCMActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
                <!-- GCM 리시버 -->
		<receiver
			android:name="com.google.android.gcm.GCMBroadcastReceiver"
			android:permission="com.google.android.c2dm.permission.SEND" >
			<intent-filter>
				<action android:name="com.google.android.c2dm.intent.RECEIVE" />
				<action android:name="com.google.android.c2dm.intent.REGISTRATION" />
				<category android:name="com.example.gcmsample" /> <!-- 젤리빈 부터는 category 빼도 된다 -->
			</intent-filter>
		</receiver>

		<!-- GCM 리시버에서 돌리는 서비스 -->
		<service android:name=".GCMIntentService" /><!-- 서비스명 변경하면 안됨 -->
        
    </application>

</manifest>